<%- include('layout/header') -%>
<%- include('layout/nav') -%>
<main>
    <!--? Hero Start -->
    <div class="slider-area ">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2">
                            <h2>Term & Condition</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="sample-text-area">
        <div class="container box_1170">
            <p class="sample-text">
                Semua Content yang ada di website ini hanya untk pemenuhan tugas UAS desain web di STMIK Sinar Nusantara.<br>
                Kami tidak bertanggung jawab atas penyalahgunaan informasi yang kami cantumkan pada website ini (sebagian atau seluruhnya).
            </p>
            <ul>
                <li>Moch. Mufiddin(22500085)</li>
                <li>Deta Rahma(22500034)</li>
                <li>Adrian Dewa Utama (22500026)</li>
            </ul>
            <p><br></p>
        </div>
    </section>
    <!--================Blog Area =================-->
</main>
<%- include('layout/footermenu') -%>
<%- include('layout/footer') -%>