<footer>
    <!--? Footer Start-->
    <div class="footer-area section-bg" data-background="/assets/img/gallery/section_bg02.png">
        <div class="container">
            <div class="footer-top footer-padding">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href=""><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Link</h4>
                                <ul>
                                    <li><a href="/">Beranda</a></li>
                                    <li><a href="/about">Tentang Kami</a></li>
                                    <!-- <li><a href="/menu">Menu</a></li> -->
                                    <li><a href="/news">Berita</a></li>
                                    <li><a href="/contact">Hubungi Kami</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Link Lainnya</h4>
                                <ul>
                                    <li><a href="/tnc">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Instagram -->
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Feed Instagram</h4>
                            </div>
                            <div class="instagram-gellay">
                                <ul class="insta-feed">
                                    <li>
                                        <a href="https://www.instagram.com/p/Cu-iDyvIV5G/">
                                            <img src="assets/img/feed/Cu-iDyvIV5G.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/p/Cu8Y-vNrH04/">
                                            <img src="assets/img/feed/Cu8Y-vNrH04.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/p/Cu5yi2iR4ox/">
                                            <img src="assets/img/feed/Cu5yi2iR4ox.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/p/CuvFSVFPnoW/">
                                            <img src="assets/img/feed/CuvFSVFPnoW.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/p/CuVxWFZseSe/">
                                            <img src="assets/img/feed/CuVxWFZseSe.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/p/CuN_qfsPR96/">
                                            <img src="assets/img/feed/CuN_qfsPR96.jpg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-9 col-lg-8"></div>
                    <div class="col-xl-3 col-lg-4">
                        <!-- Footer Social -->
                        <div class="footer-social f-right">
                            <span>Ikuti kami</span>
                            <a href="https://web.facebook.com/profile.php?id=100063902357780" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.instagram.com/solo_mamyam/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>